<div class="animate__animated animate__fadeIn animate_faster">
    <h2>Busqueda Por Capital</h2>
</div>

<hr>

<div class="row">
    <div class="col">
        <app-pais-input (onEnter)="buscar($event)" placeholder="Buscar por Capital..."></app-pais-input>
    </div>
</div>
<hr>

<div class="alert alert-danger" *ngIf="errorExist">
    No se encontró nada con el término {{ termino }}
</div>

<div *ngIf="!errorExist" class="row">
    <!-- <div class="col" *ngif="paisesResp.lenght>0"> -->
    <div class="col">
        <app-pais-tabla [paisesResp]="capitalResp"></app-pais-tabla>
    </div>
</div>